.poppins-text {
    font-family: 'Poppins', sans-serif;
}

.bg-button {
    background-color: #4e73df;
    color: rgb(248, 248, 248);
}

.bg-button:hover {
    background-color: #3a5bc7;
    color: white;
}

.bg-button2 {
    background-color: #e74a3b;
    color: white;
}

.bg-button2:hover {
    background-color: #d62c1a;
    color: white;
}

.login-container {
    max-width: 600px;
    margin-top: 20px;
}

.login-image {
    width: 60%; /* Imagem ocupa 60% da largura */
    height: 120px; /* Altura reduzida */
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 6px;
    padding: 10px 0;
}

body {
    background-color: #f8f9fc;
}

.card {
    border: none;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.form-control {
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
}